@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fromLeft {
  0% {
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translate(0); } }

@keyframes opacityShow {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif; }

.fromTop {
  animation-name: fromTop;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.35, 0.82, 0.62, 1.25); }

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.35, 0.82, 0.62, 1.25); }

.opacityShow {
  animation-name: opacityShow;
  animation-duration: 1s;
  animation-timing-function: ease; }

header {
  position: relative; }
  header .navigation * {
    color: white; }
  header .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .menu-container {
    background-color: black; }

header .navigation ul.menu-left li {
  display: inline;
  cursor: pointer; }
  header .navigation ul.menu-left li span {
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 5px; }

header .navigation ul.login-menu li {
  display: inline; }
  header .navigation ul.login-menu li span {
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 5px;
    cursor: pointer; }

header .navigation .logo img {
  max-height: 30px;
  width: auto; }

header #mega-menu {
  position: absolute;
  width: 100%;
  visibility: hidden; }

header #mega-menu > div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black; }
  header #mega-menu > div .megamenu-left {
    flex: 1 1 10%;
    padding: 1rem; }
    header #mega-menu > div .megamenu-left ul {
      list-style: none;
      padding-top: 1rem; }
    header #mega-menu > div .megamenu-left ul li {
      margin-bottom: 1.5rem; }
      header #mega-menu > div .megamenu-left ul li a {
        font-family: "Source Sans Pro", sans-serif;
        color: black;
        text-decoration: none; }
        header #mega-menu > div .megamenu-left ul li a:hover {
          font-weight: bold; }
  header #mega-menu > div .megamenu-right {
    flex: 1 0 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 1rem; }
    header #mega-menu > div .megamenu-right .card {
      flex: 0 0 auto;
      margin-right: 10px; }

#mega-menu .megamenu-right .card {
  margin-bottom: 2rem; }
  #mega-menu .megamenu-right .card .img-shoes {
    max-width: 150px;
    height: auto;
    overflow: hidden; }
    #mega-menu .megamenu-right .card .img-shoes img {
      width: 100%;
      height: auto;
      transition: transform .8s ease; }
  #mega-menu .megamenu-right .card .text-shoes {
    font-family: "Open Sans", sans-serif; }
  #mega-menu .megamenu-right .card:hover .img-shoes img {
    transform: scale(1.2); }

header .navigation .cart .link-cart {
  position: relative; }
  header .navigation .cart .link-cart div.cart-content {
    display: none;
    padding: 10px;
    width: 200px;
    background-color: white; }
    header .navigation .cart .link-cart div.cart-content div.prod-detail {
      display: flex;
      align-items: center;
      padding: 3px;
      background-color: #e2e2e5;
      margin-bottom: 3px; }
    header .navigation .cart .link-cart div.cart-content * {
      color: black !important; }
    header .navigation .cart .link-cart div.cart-content h5 {
      text-align: center;
      font-weight: bold; }
    header .navigation .cart .link-cart div.cart-content .empty-cart {
      text-align: center;
      color: white !important;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      padding: 3px 0;
      font-family: "Open Sans", sans-serif;
      background-color: crimson;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  header .navigation .cart .link-cart:hover div.cart-content {
    display: block;
    position: absolute;
    top: 15px;
    right: 0; }

header .navigation .cart .link-cart .cart-content .prod-detail {
  width: 100%; }
  header .navigation .cart .link-cart .cart-content .prod-detail .img-cart {
    flex: 0 1 30%; }
    header .navigation .cart .link-cart .cart-content .prod-detail .img-cart img {
      max-width: 100%;
      height: auto; }
  header .navigation .cart .link-cart .cart-content .prod-detail .product-name {
    flex: 1 1 40%;
    text-align: center; }
    header .navigation .cart .link-cart .cart-content .prod-detail .product-name .title {
      font-size: 1.2rem;
      font-weight: bold; }
    header .navigation .cart .link-cart .cart-content .prod-detail .product-name .price {
      font-size: 1.2rem; }
  header .navigation .cart .link-cart .cart-content .prod-detail .boton-cart {
    flex: 0 1 10%; }
    header .navigation .cart .link-cart .cart-content .prod-detail .boton-cart i {
      color: red !important;
      cursor: pointer; }

header {
  font-size: 1.6rem; }

.container-small {
  width: 80%;
  margin: 0 auto; }

footer {
  background: #8f8c8c;
  background: radial-gradient(circle, #8f8c8c 0%, #3b3838 100%); }
  footer .footer-cont {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    background-image: url(../img/footer-bg.png);
    background-position: center center;
    background-repeat: no-repeat; }
    footer .footer-cont h4 {
      color: white;
      margin-bottom: 1rem; }
    footer .footer-cont ul {
      list-style: none; }
      footer .footer-cont ul li {
        color: white;
        font-size: .9em;
        font-weight: bold;
        margin-bottom: 1rem; }
    footer .footer-cont div p.address {
      color: white;
      text-align: right;
      font-size: .8em; }
  footer .footer-social {
    text-align: center;
    padding-bottom: 3rem; }
    footer .footer-social ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer .footer-social ul li {
        margin-left: 1rem; }
      footer .footer-social ul li i {
        color: white; }

#home section.header-section {
  background-image: linear-gradient(to right bottom, #5dd694, #61dd8f, #67e388, #6eea81, #78f078, #78f078, #78f078, #78f078, #6eea81, #67e388, #61dd8f, #5dd694);
  padding-bottom: 10rem; }
  #home section.header-section .header-div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #home section.header-section .header-div .title-hero {
      flex: 1 0 40%; }
      #home section.header-section .header-div .title-hero h1 {
        font-size: 6em;
        color: white; }
      #home section.header-section .header-div .title-hero h3 {
        font-size: 4em;
        color: white; }
    #home section.header-section .header-div .img-hero {
      flex: 1 0 40%; }
      #home section.header-section .header-div .img-hero img {
        max-width: 450px; }

#imagenes .imagenes {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  transform: translateY(-10rem); }
  #imagenes .imagenes .left-div {
    flex: 1 0 50%;
    background-color: #f0f1f1;
    margin-right: 15px; }
    #imagenes .imagenes .left-div img {
      max-width: 100%;
      height: auto; }
  #imagenes .imagenes .right-div {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #imagenes .imagenes .right-div div {
      background-color: #f0f1f1;
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      text-align: center;
      margin-right: 15px; }
    #imagenes .imagenes .right-div div:first-child {
      margin-bottom: 15px; }
    #imagenes .imagenes .right-div img {
      flex: 1 1 auto;
      max-width: 80%;
      margin: 0 auto; }

#home #new-arrivals h2 {
  text-align: center;
  margin-bottom: 5rem; }

#home #new-arrivals .slideShowArrivals {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 8rem; }
  #home #new-arrivals .slideShowArrivals .flechaizquierda {
    flex: 0 1 30px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
    position: relative;
    z-index: 1100; }
    #home #new-arrivals .slideShowArrivals .flechaizquierda i {
      cursor: pointer;
      transition: transform 0.5s ease; }
    #home #new-arrivals .slideShowArrivals .flechaizquierda:hover i {
      transform: scale(1.2); }
  #home #new-arrivals .slideShowArrivals .slider-cont {
    max-width: 800px;
    flex: 1 0 800px;
    display: flex; }
  #home #new-arrivals .slideShowArrivals .flechaderecha {
    flex: 0 1 30px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    justify-content: center;
    position: relative;
    z-index: 1000; }
    #home #new-arrivals .slideShowArrivals .flechaderecha i {
      cursor: pointer;
      transition: transform 0.5s ease; }
    #home #new-arrivals .slideShowArrivals .flechaderecha:hover i {
      transform: scale(1.2); }

#home #new-arrivals .slideShowArrivals .slider-cont .prod-card {
  padding: 5px;
  margin-right: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 190px; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .new-tag {
    background-color: #f4c121;
    padding: 2px 3px;
    color: black;
    font-size: 1.2rem; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .img-prod {
    position: relative;
    height: 218px;
    width: 200px; }
    #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .img-prod img {
      position: absolute;
      top: 40px;
      bottom: 0;
      transform: rotate(-45deg);
      max-width: 100%; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .stars-tag {
    margin-bottom: 5px; }
    #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .stars-tag i {
      color: #f4c121; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .short-desc {
    text-align: center;
    margin-bottom: 5px; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .price {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .add-to-cart span {
    cursor: pointer;
    background-color: #16a0c1;
    color: white;
    padding: 3px 10px;
    font-size: 1.2rem;
    -webkit-box-shadow: 3px 3px 0px 0px #f4c121;
    -moz-box-shadow: 3px 3px 0px 0px #f4c121;
    box-shadow: 3px 3px 0px 0px #f4c121;
    transition: transform 0.3s ease;
    display: block; }
  #home #new-arrivals .slideShowArrivals .slider-cont .prod-card .add-to-cart:hover span {
    transform: translateY(-3px); }

section.panoramic-image {
  position: relative; }
  section.panoramic-image .panoramic-div img {
    max-width: 100%; }
  section.panoramic-image .panoramic-data {
    position: absolute;
    width: 300px;
    right: 3rem;
    top: 3rem; }
    section.panoramic-image .panoramic-data * {
      color: white; }
    section.panoramic-image .panoramic-data p {
      margin-bottom: 3rem;
      font-size: .8em; }
    section.panoramic-image .panoramic-data .learn-more {
      text-align: right; }
    section.panoramic-image .panoramic-data .learn-more span {
      background-color: white;
      padding: 3px 4px;
      color: black;
      font-size: .8em;
      font-weight: bold;
      cursor: pointer; }

section.shoes-section {
  background-color: black; }
  section.shoes-section .acordeon-shoes {
    display: flex; }
    section.shoes-section .acordeon-shoes a {
      max-width: 30%;
      width: 10%;
      overflow: hidden;
      flex: 1 1 auto;
      display: block;
      position: relative;
      padding-top: 45%;
      transition: width 0.5s ease;
      -webkit-transition: width 0.5s ease; }
      section.shoes-section .acordeon-shoes a:hover {
        width: 17%; }
        section.shoes-section .acordeon-shoes a:hover img {
          transform: translateX(-30px);
          opacity: 1; }
        section.shoes-section .acordeon-shoes a:hover span {
          transform: translateY(-20px); }
        section.shoes-section .acordeon-shoes a:hover h4 {
          transform: rotate(-90deg) translateX(-30px); }
      section.shoes-section .acordeon-shoes a img {
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
        max-width: none;
        transition: all 0.5s ease;
        opacity: 0.4; }
      section.shoes-section .acordeon-shoes a span {
        position: absolute;
        top: 1rem;
        left: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 4em;
        transition: transform 0.5s ease; }
      section.shoes-section .acordeon-shoes a h4 {
        position: absolute;
        bottom: 2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 3em;
        transform: rotate(0deg) translateX(-70px);
        transform-origin: 0% 0%;
        -webkit-transform: rotate(0deg) translateX(-70px);
        -webkit-transform-origin: 0% 0%;
        transition: transform 0.5s ease; }

#home .video-full .container-small {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  #home .video-full .container-small iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home .models .grid-models {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr); }
  #home .models .grid-models .modelsdiv1 {
    grid-row: 1 / 3;
    grid-column: 1/ 3;
    display: flex;
    justify-content: space-between;
    background: #4cd0db;
    background: linear-gradient(131deg, #4cd0db 0%, #4cd0db 35%, #174d53 100%); }
    #home .models .grid-models .modelsdiv1 .modelstext {
      padding: 10px;
      flex: 0 1 200px;
      color: white; }
      #home .models .grid-models .modelsdiv1 .modelstext h4 {
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 2em; }
      #home .models .grid-models .modelsdiv1 .modelstext p {
        font-size: .8em;
        margin-bottom: 1rem; }
      #home .models .grid-models .modelsdiv1 .modelstext .see-more span {
        background-color: white;
        padding: 3px 4px;
        color: black;
        font-size: .8em;
        font-weight: bold;
        cursor: pointer; }
    #home .models .grid-models .modelsdiv1 .modelstenis {
      flex: 1 1 400px; }
  #home .models .grid-models .modelsdiv {
    justify-content: space-between;
    cursor: pointer; }
    #home .models .grid-models .modelsdiv .models-div-title {
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: normal;
      color: #DB530F;
      font-size: 1.3em;
      opacity: 0; }
    #home .models .grid-models .modelsdiv .models-div-link a {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      color: #ffffff;
      text-decoration: none;
      display: block;
      opacity: 0; }
    #home .models .grid-models .modelsdiv .models-div-shoe {
      text-align: center; }
      #home .models .grid-models .modelsdiv .models-div-shoe img {
        max-width: 60%; }
  #home .models .grid-models .modelsdiv2 {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2140D8; }
  #home .models .grid-models .modelsdiv2:hover .models-div-title,
  #home .models .grid-models .modelsdiv3:hover .models-div-title {
    animation-name: opacityShow;
    animation-duration: 1s;
    animation-timing-function: ease;
    opacity: 1; }
  #home .models .grid-models .modelsdiv2:hover .models-div-link a,
  #home .models .grid-models .modelsdiv3:hover .models-div-link a {
    animation-name: fromLeft, opacityShow;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.35, 0.82, 0.62, 1.25);
    opacity: 1; }
  #home .models .grid-models .modelsdiv3 {
    background-image: url(../img/fondo-court.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center; }

section.social .social-images {
  display: flex; }
  section.social .social-images .social-item {
    position: relative;
    width: 20%;
    height: 400px;
    overflow: hidden; }
    section.social .social-images .social-item:nth-child(1) .item-icon-social {
      background-color: rgba(243, 251, 121, 0.6); }
    section.social .social-images .social-item:nth-child(2) .item-icon-social {
      background-color: rgba(102, 25, 25, 0.6); }
    section.social .social-images .social-item:nth-child(3) .item-icon-social {
      background-color: rgba(33, 98, 22, 0.6); }
    section.social .social-images .social-item:nth-child(4) .item-icon-social {
      background-color: rgba(227, 171, 54, 0.6); }
    section.social .social-images .social-item:nth-child(5) .item-icon-social {
      background-color: rgba(128, 91, 186, 0.6); }
    section.social .social-images .social-item img {
      position: absolute;
      left: 50%;
      margin-left: -100%;
      filter: none;
      -webkit-filter: grayscale(0%); }
    section.social .social-images .social-item .item-icon-social {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity 0.6s ease;
      cursor: pointer; }
      section.social .social-images .social-item .item-icon-social * {
        color: white; }
  section.social .social-images .social-item:hover img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */ }
  section.social .social-images .social-item:hover .item-icon-social {
    height: 100%;
    width: 100%;
    opacity: 1; }
