*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// FONT
$default-font-size: 1.6rem;
html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
    font-family: $fuente-myrad;
}

.fromTop {
    animation-name: fromTop;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.35, .82, .62, 1.25);
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.35, .82, .62, 1.25);
}

.opacityShow {
    animation-name: opacityShow;
    animation-duration: 1s;
    animation-timing-function: ease;
}