#category .header-section {
    background: url(../img/category-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 0;
}

#category .header-section .header-div {
    display: flex;
    justify-content: space-between;
    .img-hero {
        display: flex;
        flex-direction: column;
        p {
            width: 250px;
            margin-bottom: 4rem;
            color: white;
        }
        img {
            max-width: 150px;
        }
    }
    .title-hero h1 {
        color: white;
        font-size: 5em;
    }
}

#category section.category .category-content {
    display: flex;
    padding: 2rem 0;
}

#category section.category .category-content .category-items {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

#category section.category .category-content .category-sidebar {
    flex: 1 0 30%;
    margin-right: 1rem;
    max-width: 30%;
    .sidebar-filter-cont {
        background-color: #F0F0F0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        h4 {
            margin-bottom: 2rem;
            border-bottom: 1px dotted #626262;
            padding-bottom: 1rem;
            color: #626262;
        }
        h5 {
            margin-bottom: 2rem;
            color: #626262;
        }
        div {
            margin-bottom: .5em;
            label {
                color: #626262;
                font-size: .8em;
                margin-left: 1rem;
            }
        }
        .price-min-max {
            span {
                padding: 2px 10px;
                border: 1px solid black;
                cursor: pointer;
                font-size: .8em;
            }
            span:last-child {
                padding: 2px 10px;
                border: 1px solid black;
                background-color: #CCCACA;
            }
        }
    }
}

#category section.category .category-content .category-product-list {
    flex: 1 0 70%;
}

#category section.category .category-content .other-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .prod-card {
        flex: 1 0 30%;
        position: relative;
        min-height: 200px;
        background-color: #F2F2F2;
        margin-right: 5px;
        .product-card-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .product-cat-hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.4);
            opacity: 0;
            transition: all 1s ease;
            .price-category {
                margin-bottom: 1rem;
                span {
                    font-weight: bold;
                }
            }
            .product-cat-view {
                span {
                    padding: 2px 5px;
                    background-color: #930909;
                    color: white;
                    font-size: .8em;
                    cursor: pointer;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        &:hover {
            .product-cat-hover {
                opacity: 1;
            }
        }
    }
}

#category section.category .category-content .other-category .prod-card {
    .product-card-image {
        img {
            max-width: 100px;
        }
    }
}

#category section.category .category-content .category-items {
    margin-bottom: 6rem;
}

#category section.category .category-content .category-items .prod-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F0F0F0;
    padding: 1rem;
    margin-bottom: 2rem;
    flex: 1 1 30%;
    margin-right: 1rem;
    &::after {
        content: "";
        width: 30%;
        flex: auto;
    }
    &:last-child {
        max-width: 30%;
    }
    .prod-card-new {
        text-align: left;
        background-color: #F4C121;
        color: black;
        padding: 3px 6px;
        font-size: .8em;
        align-self: flex-start;
    }
    .product-card-image {
        img {
            max-width: 100px;
        }
        margin-bottom: 1rem;
    }
    .product-stars {
        margin-bottom: 1rem;
        i::before {
            color: #f4c121;
        }
    }
    .product-card-name {
        font-weight: bold;
        font-size: .8em;
        font-family: $fuente-myrad;
        margin-bottom: 1rem;
    }
    .product-card-price {
        font-weight: bold;
        font-size: .8em;
        margin-bottom: 1rem;
    }
    .product-card-buttons {
        div {
            background-color: black;
            font-size: .8em;
            font-family: $fuente-light;
            padding: 3px 6px;
            box-shadow: 3px 3px 0px 0px #d8d8d7;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .prod-card-button-cart {
            background-color: #0B78AF;
            a {
                color: white;
                text-align: center;
                text-decoration: none;
            }
        }
        .prod-card-button-detail {
            background-color: #77AD3D;
            a {
                color: white;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}