#home section.header-section {
    background-image: linear-gradient(to right bottom, #5dd694, #61dd8f, #67e388, #6eea81, #78f078, #78f078, #78f078, #78f078, #6eea81, #67e388, #61dd8f, #5dd694);
    padding-bottom: 10rem;
    .header-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-hero {
            flex: 1 0 40%;
            h1 {
                font-size: 6em;
                color: white;
            }
            h3 {
                font-size: 4em;
                color: white;
            }
        }
        .img-hero {
            flex: 1 0 40%;
            img {
                max-width: 450px;
            }
        }
    }
}

#imagenes .imagenes {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    transform: translateY(-10rem);
    .left-div {
        flex: 1 0 50%;
        background-color: rgb(240, 241, 241);
        margin-right: 15px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .right-div {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            background-color: rgb(240, 241, 241);
            flex: 1 0 auto;
            display: flex;
            align-items: center;
            text-align: center;
            margin-right: 15px;
        }
        div:first-child {
            margin-bottom: 15px;
        }
        img {
            flex: 1 1 auto;
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

#home #new-arrivals {
    h2 {
        text-align: center;
        margin-bottom: 5rem;
    }
}

#home #new-arrivals .slideShowArrivals {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 8rem;
    .flechaizquierda {
        flex: 0 1 30px;
        display: flex;
        align-items: center;
        background-color: whitesmoke;
        justify-content: center;
        position: relative;
        z-index: 1100;
        i {
            cursor: pointer;
            transition: transform 0.5s ease;
        }
        &:hover {
            i {
                transform: scale(1.2);
            }
        }
    }
    .slider-cont {
        max-width: 800px;
        flex: 1 0 800px;
        display: flex;
    }
    .flechaderecha {
        flex: 0 1 30px;
        display: flex;
        align-items: center;
        background-color: whitesmoke;
        justify-content: center;
        position: relative;
        z-index: 1000;
        i {
            cursor: pointer;
            transition: transform 0.5s ease;
        }
        &:hover {
            i {
                transform: scale(1.2);
            }
        }
    }
}

#home #new-arrivals .slideShowArrivals .slider-cont .prod-card {
    padding: 5px;
    margin-right: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 190px;
    .new-tag {
        background-color: #f4c121;
        padding: 2px 3px;
        color: black;
        font-size: 1.2rem;
    }
    .img-prod {
        position: relative;
        height: 218px;
        width: 200px;
        img {
            position: absolute;
            top: 40px;
            bottom: 0;
            transform: rotate(-45deg);
            max-width: 100%;
        }
    }
    .stars-tag {
        margin-bottom: 5px;
        i {
            color: #f4c121;
        }
    }
    .short-desc {
        text-align: center;
        margin-bottom: 5px;
    }
    .price {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    .add-to-cart span {
        cursor: pointer;
        background-color: #16a0c1;
        color: white;
        padding: 3px 10px;
        font-size: 1.2rem;
        -webkit-box-shadow: 3px 3px 0px 0px rgba(244, 193, 33, 1);
        -moz-box-shadow: 3px 3px 0px 0px rgba(244, 193, 33, 1);
        box-shadow: 3px 3px 0px 0px rgba(244, 193, 33, 1);
    }
}

section.panoramic-image {
    position: relative;
    .panoramic-div {
        img {
            max-width: 100%;
        }
    }
    .panoramic-data {
        position: absolute;
        width: 300px;
        right: 3rem;
        top: 3rem;
        * {
            color: white;
        }
        p {
            margin-bottom: 3rem;
            font-size: .8em;
        }
        .learn-more {
            text-align: right;
        }
        .learn-more span {
            background-color: white;
            padding: 3px 4px;
            color: black;
            font-size: .8em;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

section.shoes-section {
    background-color: black;
    .acordeon-shoes {
        display: flex;
        a {
            max-width: 30%;
            width: 10%;
            overflow: hidden;
            flex: 1 1 auto;
            display: block;
            position: relative;
            padding-top: 45%;
            transition: width 0.5s ease;
            -webkit-transition: width 0.5s ease;
            &:hover {
                width: 17%;
                img {
                    transform: translateX(-30px);
                    opacity: 1;
                }
                span {
                    transform: translateY(-20px);
                }
                h4 {
                    transform: rotate(-90deg) translateX(-30px);
                }
            }
            img {
                position: absolute;
                top: 0;
                height: 100%;
                width: auto;
                max-width: none;
                transition: all 0.5s ease;
                opacity: 0.4;
            }
            span {
                position: absolute;
                top: 1rem;
                left: 2rem;
                font-family: $fuente-myrad;
                font-weight: bold;
                color: white;
                font-size: 4em;
                transition: transform 0.5s ease;
            }
            h4 {
                position: absolute;
                bottom: 2rem;
                font-family: $fuente-myrad;
                font-weight: bold;
                color: white;
                font-size: 3em;
                transform: rotate(0deg) translateX(-70px);
                transform-origin: 0% 0%;
                -webkit-transform: rotate(0deg) translateX(-70px);
                -webkit-transform-origin: 0% 0%;
                transition: transform 0.5s ease;
            }
        }
    }
}

#home .video-full .container-small {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

#home .models .grid-models {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: (repeat(3, 1fr));
    .modelsdiv1 {
        grid-row: 1 / 3;
        grid-column: 1/ 3;
        display: flex;
        justify-content: space-between;
        background: rgb(76, 208, 219);
        background: linear-gradient(131deg, rgba(76, 208, 219, 1) 0%, rgba(76, 208, 219, 1) 35%, rgba(23, 77, 83, 1) 100%);
        .modelstext {
            padding: 10px;
            flex: 0 1 200px;
            color: white;
            h4 {
                font-family: $fuente-logo;
                font-size: 2em;
            }
            p {
                font-size: .8em;
                margin-bottom: 1rem;
            }
            .see-more span {
                background-color: white;
                padding: 3px 4px;
                color: black;
                font-size: .8em;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .modelstenis {
            flex: 1 1 400px;
        }
    }
    .modelsdiv {
        justify-content: space-between;
        .models-div-title {
            font-family: $fuente-logo;
            font-weight: normal;
            color: #DB530F;
            font-size: 1.3em;
        }
        .models-div-link a {
            font-family: $fuente-light;
            font-weight: normal;
            color: #ffffff;
            text-decoration: none;
        }
        .models-div-shoe {
            text-align: center;
            img {
                max-width: 60%;
            }
        }
    }
    .modelsdiv2 {
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #2140D8;
    }
    .modelsdiv3 {
        background-image: url(../img/fondo-court.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

section.social .social-images {
    display: flex;
    .social-item {
        position: relative;
        width: 20%;
        height: 400px;
        overflow: hidden;
        &:nth-child(1) {
            .item-icon-social {
                background-color: rgba(243, 251, 121, 0.6);
            }
        }
        &:nth-child(2) {
            .item-icon-social {
                background-color: rgba(102, 25, 25, 0.6);
            }
        }
        &:nth-child(3) {
            .item-icon-social {
                background-color: rgba(33, 98, 22, 0.6);
            }
        }
        &:nth-child(4) {
            .item-icon-social {
                background-color: rgba(227, 171, 54, 0.6);
            }
        }
        &:nth-child(5) {
            .item-icon-social {
                background-color: rgba(128, 91, 186, 0.6);
            }
        }
        img {
            //transform: translateX(-50%);
            position: absolute;
            left: 50%;
            margin-left: -100%;
            filter: none;
            -webkit-filter: grayscale(0%);
        }
        .item-icon-social {
            position: absolute;
            height: 0;
            width: 0;
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.6s ease;
            cursor: pointer;
            * {
                color: white;
            }
        }
    }
    .social-item:hover {
        img {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            /* Firefox 3.5+ */
            filter: gray;
            /* IE6-9 */
            -webkit-filter: grayscale(100%);
            /* Chrome 19+ & Safari 6+ */
        }
        .item-icon-social {
            height: 100%;
            width: 100%;
            opacity: 1;
        }
    }
}