header {
    position: relative;
    .navigation * {
        color: white;
    }
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-container {
        background-color: black;
    }
}

header .navigation {
    ul.menu-left {
        li {
            display: inline;
            cursor: pointer;
            span {
                font-family: $fuente-light;
                margin-left: 5px;
            }
        }
    }
    ul.login-menu {
        li {
            display: inline;
            span {
                font-family: $fuente-light;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
    .logo img {
        max-height: 30px;
        width: auto;
    }
}

header #mega-menu {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

header #mega-menu>div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .megamenu-left {
        flex: 1 1 10%;
        padding: 1rem;
        ul {
            list-style: none;
            padding-top: 1rem;
        }
        ul li {
            margin-bottom: 1.5rem;
            a {
                font-family: $fuente-light;
                color: black;
                text-decoration: none;
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
    .megamenu-right {
        flex: 1 0 90%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 1rem;
        .card {
            flex: 0 0 auto;
            margin-right: 10px;
        }
    }
}

#mega-menu .megamenu-right .card {
    margin-bottom: 2rem;
    .img-shoes {
        max-width: 150px;
        height: auto;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            transition: transform .8s ease;
        }
    }
    a {
        text-decoration: none;
        display: block;
    }
    .text-shoes {
        font-family: $fuente-myrad;
        font-weight: bold;
        color: black;
        font-size: .8em;
    }
    &:hover {
        .img-shoes img {
            transform: scale(1.2);
        }
    }
}

header .navigation .cart .link-cart {
    position: relative;
    div.cart-content {
        display: none;
        padding: 10px;
        width: 200px;
        background-color: white;
        div.prod-detail {
            display: flex;
            align-items: center;
            padding: 3px;
            background-color: rgb(226, 226, 229);
            margin-bottom: 3px;
        }
        * {
            color: black!important;
        }
        h5 {
            text-align: center;
            font-weight: bold;
        }
        .empty-cart {
            text-align: center;
            color: white!important;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            padding: 3px 0;
            font-family: $fuente-myrad;
            background-color: crimson;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    }
    &:hover div.cart-content {
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
    }
}

header .navigation .cart .link-cart .cart-content .prod-detail {
    width: 100%;
    .img-cart {
        flex: 0 1 30%;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .product-name {
        flex: 1 1 40%;
        text-align: center;
        .title {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .price {
            font-size: 1.2rem;
        }
    }
    .boton-cart {
        flex: 0 1 10%;
        i {
            color: red!important;
            cursor: pointer;
        }
    }
}